/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* universal style  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* banner section  */
  .drk{
    position: relative;
} 
.drk h1{
    font-size: 70px;
}
.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.6;
    z-index: 1;
  }
  .carousel-caption{
    z-index: 2;
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(0%,-50%);
     
  }
